#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

#name-title {
  font-size: 3rem;
  font-weight: bold;
}

.small-separator {
  height: 2px;
  width: 7rem;
  background-color: white;
  margin: 0.5rem;
}

#header > .nav > li {
  font-size: 1.5rem;
  font-weight: bold;
}