/** HEADER **/

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

#name-title {
  font-size: 3rem;
  font-weight: bold;
}

.small-separator {
  height: 2px;
  width: 7rem;
  background-color: var(--text-color);
  margin: 0.5rem;
}

#header > nav {
  font-size: 1.5rem;
  font-weight: bold;
}

#header > nav > a.active {
  color: var(--secondary-color);
}

/** BODY **/

#body {
  /* height: 100%; */
  width: 100%;
}

.body-separator {
  height: 1.3rem;
  width: 13rem;
  background-color: var(--secondary-color);
}

.body-content {
  margin: var(--page-LR-margin);
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}

.page-content {
  font-size: 1.2rem;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-enter h1 {
  animation: slide-left-to-right ease-in-out 1000ms;
}

@keyframes slide-left-to-right {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  } 75% {
    opacity: 0.5;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-enter > .body-content > *:not(h1) {
  animation: slide-bottom-to-top ease-in-out 1100ms;
}

@keyframes slide-bottom-to-top {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  } 75% {
    opacity: 0.5;
  } 100% {
    transform: translateY(0);
    opacity: 1;
  }
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/** Home **/

#home > .page-content {
  max-width: min(30rem, calc(100vw - (var(--page-LR-margin) * 2)));
}

#home > ul {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}