/** HEADER **/

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

#name-title {
  font-size: 3rem;
  font-weight: bold;
}

.small-separator {
  height: 2px;
  width: 7rem;
  background-color: var(--text-color);
  margin: 0.5rem;
}

#header > .nav > li {
  font-size: 1.5rem;
  font-weight: bold;
}

/** BODY **/

#body {
  height: 100%;
}

.body-separator {
  height: 1.3rem;
  width: 13rem;
  background-color: var(--secondary-color);
}

.body-content {
  padding: 8%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/** Home **/

#home {

}

#home > div:first-child {
  font-size: 4.5rem;
  font-weight: bold;
}

#home > div:nth-child(2) {
  width: 30rem;
  font-size: 1.2rem;
}

#home > ul {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}