@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .App {
  height: 100%;
}

#root {
  --bg-color: black;
  --secondary-color: #ffda0a;
  --text-color: white;
  background: black;
  color: white;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

button, a {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  transition: all 0.2s linear;
}

/* button.link { */
  /* padding: 0; */
  /* text-decoration: underline;
  font-style: italic; */
/* } */

button.link:hover{
  color: var(--secondary-color);
}