@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .App {
  height: 100%;
}

body {
  background-image: url('resources/img/stripe-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom 0;
  background-position-x: center;
  background-attachment: fixed;
  background-color: black;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

#root {
  --bg-color: black;
  --secondary-color: #ffda0a;
  --text-color: white;
  --page-LR-margin: 8vw;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-content: center;
}

button, a {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
  font-weight: bold;
  color: inherit;
  padding: 0;
  transition: all 0.3s linear;
  text-decoration: none;
}

button.link:hover, a.link:hover{
  color: var(--secondary-color);
}

button.std-btn, a.std-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  width: 10rem;
  min-width: fit-content;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  transition: all 0.3s ease-in;
}

button.std-btn:hover, a.std-btn:hover {
  background-color: var(--text-color);
  /* box-shadow: 0 0 10px var(--secondary-color); */
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.hflex {
  display: flex;
  gap: 1rem;
}